@import "tailwindcss";

@theme{
    --color-darkBlue: #003f62;
    --color-orange: #eda415;
    --color-text: #292d32;
    --color-lightBlue: #eef9ff;
    --color-midBlue: #9fc8de;
    --color-red: #c80000;
    --color-green: #00ff00;
}

@layer utilities {
    .wrapper{
        @apply container mx-auto max-w-[1200px];
    }
    .flex-centar-between{
        @apply flex flex-row items-center justify-between;
    }
}

@layer components{
    .btn{
        @apply duration-200 hover:bg-transparent hover:text-darkBlue  border-darkBlue border-[2px] cursor-pointer bg-darkBlue px-5 py-2 rounded-lg 
    }
}

.cardShadow{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.40);
}