@import "tailwindcss";

@theme{
    --color-darkBlue: #003f62;
    --color-orange: #eda415;
    --color-text: #292d32;
    --color-lightBlue: #def3ff ;
}

@layer utilities {
    .wrapper{
        @apply container mx-auto max-w-[1200px];
    }
    .flex-centar-between{
        @apply flex flex-row items-center justify-between;
    }
}