@import "tailwindcss";

@theme{
    --color-darkBlue: #003f62;
    --color-orange: #eda415;
    --color-text: #292d32;
    --color-lightBlue: #eef9ff;
    --color-midBlue: #9fc8de;
    --color-red: #c80000;
    --color-green: #1e8f00;
    --color-grey: #545454
}

@layer utilities {
    .wrapper{
        @apply container px-4 lg:px-0 mx-auto max-w-[1200px];
    }
    .flex-centar-between{
        @apply flex flex-row items-center justify-between;
    }
    .inputWrap{
        @apply flex flex-col
    }
    .inputFeeld{
        @apply bg-lightBlue py-2 px-2.5 rounded-lg
    }
}

@layer components{
    .btn{
        @apply duration-200 hover:bg-transparent hover:text-darkBlue  border-darkBlue border-[2px] cursor-pointer bg-darkBlue px-5 py-2 rounded-lg 
    }
    .btnCategory{
        @apply w-[150px] text-center text-darkBlue hover:text-lightBlue hover:bg-darkBlue py-1 cursor-pointer border-darkBlue border-[2px] rounded-lg duration-200
    }
    .formBox{
        @apply bg-midBlue flex flex-col gap-2.5 rounded-lg mx-auto py-7 px-4 lg:max-w-1/2
    }
}

.cardShadow{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.40);
}